
{% extends "main.html" %}
{% block home %}

        <div class="col-sm-9 col-sm-offset-1 col-md-9 col-md-offset-1">
            <div class="well">
                <h3 class="panel-title">Home:</h3>
            </div>
          
         <div>
          You are looking at index. Try <br> Players - for players list <br> Players/player_id - for single player <br> rankings- for rankings view <br> tournaments - for list of tournaments <br> tournaments/tournament_id - for single tournament
          </div>
            




    
   





    
        
{% endblock %}
