{% extends "main.html" %}
{% block contact %}

 <div class="col-md-8 col-md-offset-2" >
    
    <h3>Szybki kontakt</h3>
    <div>
    <hr class="style_jd">
    <div class="text/css">Chcesz zgłosić turniej do rankingu? Wypełnij wzór i wyślij do nas!
<a href="http://mak.bn.org.pl/w6-ank.pdf">Pobierz wzór</a></div>
    </div>
     <fieldset>
    
    <a class="mail click-marker" href="mailto:unclekyoshi@gmail.com?subject=Zgłoszenie z serwisu Ranking.pl&amp;body=Szanowni Państwo,"> <p class="glyphicon glyphicon-envelope "></p></a>
    </fieldset> 
  </div>



{% endblock %}