{% extends "main.html" %}
{% block contact %}

 <div class="col-md-8 col-md-offset-2" >
    
    <h3>Szybki kontakt</h3>
    <div>
    <hr class="style_jd">
    <div class="text/css">Chcesz zgłosić turniej do rankingu? Wypełnij wzór i wyślij do nas!
<a href="https://drive.google.com/file/d/1tVqqQ5zAvEFZxLH2TUuy2Ri0h2Yk2-Rj/view?usp=sharing">Pobierz wzór</a></div>
    </div>
    <div class="text/css">id - kolejny id; <br>	tournament - nazwa turnieju; <br>player - imię i nazwisko lub Id gracza;<br>amy - id armii;<br>player_place - zajęte miejsce na turnieju;<br>killpoints - zdobyte KP na turnieju (opcjonalnie);<br>scenerypoints - zdobyte punkty za scenariusze (opcjonalnie)<br>player_points - nie wypełniać
</div>
     <fieldset>
    
    <a class="mail click-marker" href="mailto:unclekyoshi@gmail.com?subject=Zgłoszenie z serwisu Ranking.pl&amp;body=Szanowni Państwo,"> <p class="glyphicon glyphicon-envelope "></p></a>
    </fieldset> 
  </div>



{% endblock %}