
{% extends "main.html" %}
{% block players %}
<div class="container">
  <div class="row">
  <h2><p class="glyphicon glyphicon-star-empty"></p>Lista graczy General's War</h2>
  </div>
{% load sorting_tags %}
    <table class="points_table">
      <thead>
        <tr>
          <th class="col-xs-1">{% anchor player_id _("#") %}</th>
          <th class="col-xs-7">{% anchor player_name _("Gracz") %}</th>
          <th class="col-xs-1">{% anchor player_nicname _("Alias") %}</th>
        </tr>
      </thead>
      <tbody class="points_table_scrollbar">
 {% autosort  all_players %}
    {% for player in all_players %}
        
        <tr class="{% if forloop.counter|divisibleby:2 %}odd{% else %}even{% endif %}">
          <td class="col-xs-1">{{ player.id }}</td>
          <td class="col-xs-7">{{ player.name }}</td>
          <td class="col-xs-1">{{ player.nicname }}</td>
        </tr>


 {% endfor %}
      </tbody>
    </table>
    
</div>


        




    
   





  
{% endblock %}
