{% extends "main.html" %}

{% block rankings2018 %}

<div class="container">
  <div class="row">
  <h2><p class="glyphicon glyphicon-star-empty"></p>Ranking General's War 2018<p class="glyphicon glyphicon-star-empty"></p></h2>
  </div>

{% load sorting_tags %}
    <table class="points_table">
      <thead>
        <tr>
          <th class="col-xs-1">{% anchor player__id _("#") %}</th>
          <th class="col-xs-7">{% anchor player__name _("Gracz") %}</th>
          <th class="col-xs-1">{% anchor player_points__sum _("Punkty") %}</th>
        </tr>
      </thead>
      <tbody class="points_table_scrollbar">
 {% autosort ranking_list %}
    {% for ranking_list in ranking_list %}

        <tr class="{% if forloop.counter|divisibleby:2 %}odd{% else %}even{% endif %}">
          <td class="col-xs-1">{{ ranking_list.player__id }}</td>
          <td class="col-xs-7">{{ ranking_list.player__name }}</td>
          <td class="col-xs-1">{{ ranking_list.player_points__sum }}</td>
        </tr>


 {% endfor %}
      </tbody>
    </table>

</div>




{% endblock %}
